:root {
  --main_color: #24053e; /* Dark Purple*/
  --accent_color: #44ffa1; /* Eucaplyptus */

  --davys_grey: #584d62;
  --ghost_white: #fcf8ff;

  --white: #fff;
  --black: #000;
  --main_font: "Manrope";
  --second_font: "Fraunces";
  --size_font: 18px;
  --padding: 40px;
  --container: 1112px;

  --anime: 0.4s ease 0.1s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--main_color);
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: var(--main_font);
  font-size: var(--size_font);
  font-weight: 400;
  line-height: 1.78;
  font-style: normal;
  color: var(--main_color);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 60px; */
  min-height: 3.75rem;
  padding: 0.24em 1.32em;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.18px;
  color: var(--main_color);
  background: var(--accent_color);
  border: 2px solid #44ffa1;
  transition: background var(--anime);
}
.btn:hover {
  background-color: transparent;
  border: 2px solid #44ffa1;
}

a {
  font-weight: 700;
  letter-spacing: -0.18px;
  border-bottom: 3px solid var(--accent_color);
  transition: color var(--anime);
}
a:hover {
  color: var(--accent_color);
}

.icon {
  width: 40px;
  height: 40px;
  fill: var(--davys_grey);
  transition: fill var(--anime);
  border: 1px solid #000;
}
.icon:hover {
  fill: var(--main_color);
}
