@font-face {
  font-family: "Fraunces";
  font-display: swap;
  src: url(../assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype"),
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url(../assets/fonts/Manrope-VariableFont_wght.ttf) format("truetype"),
}

.title {
  /* Heading L */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 1;
  color: var(--main_color);
}
.title > span {
    border-bottom: 3px solid var(--accent_color);
}
.title-m {
  /* Heading M */
  font-size: 56px;
  line-height: 1.14;
}
.title-s {
  /* Heading S */
  font-size: 32px;
  line-height: 1.25;
}



