@font-face {
  font-family: "Fraunces";
  font-display: swap;
  src: url(../assets/fonts/Fraunces-VariableFont.ttf) format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url(../assets/fonts/Manrope-VariableFont.ttf) format("truetype");
}

.title {
  /* Heading L */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 1;
  color: var(--main_color);
}
.title > span {
  text-decoration: underline;
  text-decoration-color: var(--accent_color);
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  /* border-bottom: 3px solid var(--accent_color); */
}
.title-m {
  /* Heading M */
  font-size: 56px;
  line-height: 1.14;
}
.title-s {
  /* Heading S */
  font-size: 32px;
  line-height: 1.25;
}
